extends ../layout

block header 
    a(href="/home") 
        h1 ROCIO MACHIMBARRENA

    nav.profile-nav
    ul
        li
            a(href="/purses") CATÁLOGO
        li
            a(href="/login") INICIA SESIÓN

block content
    h1 Todos los bolsos