#carousel-container {
    margin-top: 2rem;
    width: 100%;
    overflow: hidden;
}

.carousel-wrapper {
    height: 30rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.slides-container {
    display: flex;
    gap: 3rem;
    margin: 1rem;
    animation: scroll 50s linear infinite;
}

.carousel-slide {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 200px;
    background: #f8f9fa;
    border-radius: 0px 20px 0px 60px;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.7);
    padding: 12px;
    transition: background-color 0.3s;
}

.carousel-slide:hover {
    background-color: #3f3f3f;
}

.image-container {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 12px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 20px 0px 60px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.slides-container:hover {
    animation-play-state: paused;
}