


/* General Styles */
main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 0.5px;
}

.client-profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F7F3F1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinea verticalmente los elementos */
    margin-bottom: 20px; /* Espacio entre el contenedor y los datos */
}

.title-button-container .section-title {
    margin: 0; /* Elimina márgenes extra para alineación precisa */
}

.title-button-container a button {
    margin: 0; /* Asegúrate de que el botón no tenga margen superior */
}

/* Section Styles */
.client-info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #555;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.personal-data-container,
.history-container {
    background: #fff;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Personal Data */
.personal-data p {
    margin: 5px 0;
    color: #666;
    font-size: 15px;
}

/* General Styles for Short History */
.short-history {
    display: flex;
    flex-wrap: wrap;
    /* Permite que las tarjetas pasen a la siguiente fila si no caben */
    gap: 20px;
    /* Espacio entre las tarjetas */
    margin-bottom: 20px;
    justify-content: space-around;
}

.short-purchase-info {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: calc(50% - 20px);
    /* Dos tarjetas por fila, considerando el espacio del gap */
    box-sizing: border-box;
    /* Asegura que padding no afecte el ancho */
}

.short-purchase-info p {
    margin: 5px 0;
    color: #666;
}

/* Header Container */
.header-container {
    display: flex;
    flex-direction: column; /* Organiza elementos en columna */
    align-items: center; /* Centra horizontalmente */
    gap: 10px; /* Espacio entre la imagen y el botón */
}

/* Imagen */
.logo-image {
    max-width: 100px; /* Ajusta el tamaño máximo de la imagen */
    width: 100%; /* Imagen responsiva */
    height: auto;
}

/* Buttons */
a button,
.header-container form button {
    padding: 10px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
    min-width: 100px; 
    text-transform: uppercase;
}

a button:hover,
.header-container form button:hover {
    background: #f8f8f8;  /* Ligero efecto hover */
}

/* Responsive Design */
@media (max-width: 600px) {
    .client-profile-container {
        padding: 15px;
    }
    
    .profile-title {
        font-size: 20px;
    }
    
    .section-title {
        font-size: 18px;
    }
    
    a button {
        width: 100%;
        text-align: center;
    }
    .short-purchase-info {
        width: 100%;
        /* Las tarjetas ocuparán todo el ancho en pantallas pequeñas */
    }
}