main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 0.5px;
}

main.update-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #F7F3F1;
    padding: 20px;
    border: 1px solid #ddd;
}

.title-form {
    text-align: center;
    color: #555;
    margin-bottom: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-size: 0.9em;
    color: #555;
    margin-top: 10px;
    padding-left: 1px;
}

input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #007bff;
    outline: none;
    background-color: #fff;
}

button {
    padding: 10px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
    min-width: 100px; 
    text-transform: uppercase;
}

button[type="submit"] {
    background-color: white;
}

button[type="button"] {
    background-color: white;
}

button:hover {
    opacity: 0.9;
}

button[type="submit"]:hover {
    background-color: #f8f8f8;
}

button[type="button"]:hover {
    background-color: #f8f8f8;
}

form > a {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    text-decoration: none;
}

form:last-of-type button {
    background-color: white;
}

form:last-of-type button:hover {
    background-color: #f8f8f8;
}

a button {
    flex: 1;
    margin: 0 5px;
    text-align: center;
}

a button:first-child {
    margin-left: 0;
}

a button:last-child {
    margin-right: 0;
}

footer {
    padding: 10px;
}