extends ../layout

block header 
    a(href="/home") 
        h1 ROCIO MACHIMBARRENA
        
block content 
    h1 Bienvenido a tu perfil, #{personalData.user_name}

    nav.profile-nav
    ul
        li 
            a(href="/purses") Tienda

    if personalData 
        include clientPersonalData
        include clientHistory