extends ../layout

block header 
    a(href="/home") 
        h1 ROCIO MACHIMBARRENA
        
block content 
    h1 Bienvenido a tu perfil, UserName

    nav.profile-nav
    ul
        li
            a(href="/client-profile") Datos personales
        li
            a(href="/client-profile/purchase-history") Historial de compras
        li 
            a(href="/purses") Tienda