extends ../layout

block styles 
    link(rel="stylesheet", href="/css/client-profile.css")

block content
    main(class= 'client-profile-container')
        div.header-container
            img(src="/resources/logo/logo.png", alt="logo-image", class='logo-image')
            form(action="/login/logout", method="get")
                button(type="submit") CERRAR SESIÓN
        article(class= 'client-info-container')
            if client.user 
                article(class= 'personal-data-container')
                    include clientPersonalData
                article(class= 'history-container')
                    include clientResumePurchase