extends ../layout

block content
    main(class= 'client-profile-container')
        h1 Bienvenide a tu perfil, #{client.user.user_name}
        article(class= 'client-info-container')
            if client.user 
                article(class= 'personal-data-container')
                    include clientPersonalData
                    a(href=`/client-profile/${client.client_id}/personal-data/update`)
                        button Editar
                article(class= 'history-container')
                    include clientResumePurchase
                    a(href=`/client-profile/${client.client_id}/purchase-history`)
                        button Todos los pedidos