extends layout

block styles 
    link(rel="stylesheet", href="/css/contact.css")


block content 
    div.first-column-contact
        .detalle-etiqueta 
            img(src="/resources/images/WEB-ABOUT-DIOSA.png", alt="", srcset="")
        
        .texto-presentacion 
            p 'Machimbas' es una firma de bolsos únicos y de edición limitada diseñados, confeccionados por mí con retales y piezas antiguas. <br><br> Aprendí a coser hace cuatro años de forma autodidacta, viendo vídeos de Youtube en casa, «buscándome la vida» y haciendo muchas preguntas a manos expertas. Mi curiosidad y pasión por la costura me llevaron a cursar después un máster en Dirección y Gestión de Empresas de Moda en el Istituto Europeo di Design de Madrid. Allí descubrí «el horror» que oculta la moda rápida y decidí no participar en este mundo.<br><br> Nunca imaginé que mi firma de bolsos iba a nacer por casualidad en una fiesta entre amigas. Tuve el cumpleaños de dos amigas y se me ocurrió regalarles a cada una un bolso de terciopelo hecho por mi. Les gustó muchísimo, pero también al resto de invitadas, que me empezaron a hacer encargos.

    div.second-column-contact 
        .instagram 
            a(href=`https://www.instagram.com/machimbas/` target="_blank")
                p Instagram
        .correo 
            img(src="/resources/images/logo.png", alt="", srcset="")
            p rocio.machimbarrena@gmail.com
        .autentificacion 
            p © 2024 MACHIMBA