extends layout 


block header 
    a(href="/home") 
        h1 ROCIO MACHIMBARRENA

    nav.profile-nav
    ul
        li
            a(href="/purses") CATÁLOGO
        li
            a(href="/login") INICIA SESIÓN
        li 
            a(href="/shopping-cart") CARRITO

block content 
    
    h2 Fotos presentacion

    #carousel-container.carousel-container
    

    script(src="/public/js/home.js")