extends layout 


block header
    div.shop-header
        div.shop-title
            a(href="/home") 
                h1 ROCIO MACHIMBARRENA

        div.shop-nav
            nav.profile-nav
                ul
                    li
                        a(href="/purses") CATÁLOGO
                    li
                        a(href="/login") INICIAR SESIÓN
                    li 
                        a(href="/shopping-cart") CARRITO

block content 
    
    div.home-background 
        img(src="/resources/carrusel_images/pruebaFondo2.png", alt="", srcset="")
