
html(lang="es") 

    head
        meta(charset="UTF-8") 
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 
        link(rel="stylesheet", href="/css/formulario.css")
        link(rel="stylesheet", href="/css/shop.css")
        link(rel="stylesheet", href="/css/login-register.css")
        link(rel="stylesheet", href="/css/single-purse.css")
        link(rel="stylesheet", href="/css/home.css")
        link(rel="stylesheet", href="/css/navbar.css")
        link(rel="stylesheet", href="/css/shopping-cart.css")
        block styles
        title Machimba
    body
        block header
            div.shop-header
                div.shop-title
                    a(href="/home") 
                        h1 ROCIO MACHIMBARRENA
        block navbar 
            div.shop-nav
                nav.profile-nav
                    ul
                        li
                            a(href="/purses") CATÁLOGO
                        if user
                            li 
                                a(href=`/client-profile/${user.client_id}`) MI PERFIL 
                            li 
                                a(href="/shopping-cart") CARRITO
                        else
                            li
                                a(href="/login") INICIAR SESIÓN
                            li
                                a(href="/contact") CONTACTO
        block content