
html(lang="es") 

    head
        meta(charset="UTF-8") 
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 
        link(rel="stylesheet", href="/css/carousel.css")
        link(rel="stylesheet", href="/css/formulario.css")
        link(rel="stylesheet", href="/css/shop.css")
        link(rel="stylesheet", href="/css/login-register.css")
        link(rel="stylesheet", href="/css/single-purse.css")
        title Machimba
    body
        block header 
        block content