div.shop-nav
    nav.profile-nav
        ul
            li
                a(href="/purses") CATÁLOGO
            li
                a(href="/login") INICIAR SESIÓN
            li 
                a(href="/shopping-cart") CARRITO