extends ../layout

block content 
    h1 Gestión del negocio 
    a(href="products") 
        button(type="button") Productos
    a(href="users") 
        button(type="button") Usuarios
    a(href="history") 
        button(type="button") Histórico