extends layout

block styles 
    link(rel="stylesheet", href="/css/createUpdateProduct.css")

block content 
    form(action="/admin/products/create", method="post")
        h1.title-new-product NUEVO PRODUCTO
        label(for="name") 
        input(id="name", type="text", name="name",placeholder="NOMBRE DEL BOLSO") 

        label(for="description") 
        textarea(id="description", name="description",placeholder="DESCRIPCION") 

        label(for="collection")
        select(id="collection", name="collection", required)
            option(value="") Selecciona una colección
            option(value="Antique Collection") Antique Collection
            option(value="Permanent Collection") Permanent Collection
            option(value="Unique Collection") Unique Collection
            option(value="Vintage Summer Collection") Vintage Summer Collection
            option(value="New York Collection") New York Collection
            option(value="Hilma Collection") Hilma Collection

        label(for="price") 
        input(id="price", type="text", name="price",placeholder="PRECIO") 

        label(for="image") 
        input(id="image", type="text", name="image",placeholder="ENLACE IMAGEN")

        label(for="color") 
        input(id="color", type="text", name="color",placeholder="COLOR")

        label(for="material") 
        input(id="material", type="text", name="material",placeholder="MATERIAL")

        button(type="submit") CREAR