extends ../layout

block header
    h1 Gestión del negocio 
    a(href="/admin/products") 
        button(type="button") Productos
    a(href="/admin/users") 
        button(type="button") Usuarios
    a(href="/admin/purchase_history") 
        button(type="button") Histórico

block content 
    a(href=`/admin/products`) 
            button(type="button") VOLVER A BOLSOS
    form(action="/admin/products/create", method="post")
        h1 NUEVO BOLSO
        label(for="pursename") 
        input(id="pursename", type="text", name="pursename",placeholder="NOMBRE DEL BOLSO") 

        label(for="description") 
        input(id="description", type="text", name="description",placeholder="DESCRIPCION") 

        label(for="collection")
        select(id="collection", name="collection", required)
            option(value="") Selecciona una colección
            option(value="Antique Collection") Antique Collection
            option(value="Permanent Collection") Permanent Collection
            option(value="Unique Collection") Unique Collection
            option(value="Vintage Summer Collection") Vintage Summer Collection
            option(value="New York Collection") New York Collection
            option(value="Hilma Collection") Hilma Collection

        label(for="price") 
        input(id="price", type="text", name="price",placeholder="PRECIO") 

        label(for="color") 
        input(id="color", type="text", name="color",placeholder="COLOR")

        label(for="material") 
        input(id="material", type="text", name="material",placeholder="MATERIAL")

        label(for="image") 
        input(id="image", type="text", name="image",placeholder="ENLACE IMAGEN")

        button(type="submit") CREAR


//- name
//- description
//- collection
//- price
//- color 
//- material
//- image