extends ../layout

block header
    h1 Gestión del negocio 
    a(href="/admin/products") 
        button(type="button") Productos
    a(href="/admin/users") 
        button(type="button") Usuarios
    a(href="/admin/purchase_history") 
        button(type="button") Histórico

block content 
    a(href=`/admin/users`) 
            button(type="button") VOLVER A USERS
    a(href=`/admin/users/workers/create`) 
            h3 CREAR TRABAJADOR NUEVO
    h1 Lista de trabajadores
    article(class="admin-workers")
    each worker in workers 
            p ID de worker: #{worker.worker_id}
            p ID de usuario: #{worker.user_id}
            a(href=`/admin/users/workers/${worker.worker_id}/update`) ACTUALIZAR
                    
                    form(action=`/admin/users/workers/${worker.worker_id}/delete` method="POST")
                        button(type="submit") BORRAR       