extends ../layout

block header
    div.shop-header
        div.shop-title
            a(href="/home") 
                h1 ROCIO MACHIMBARRENA

        div.shop-nav
            nav.profile-nav
                ul
                    li
                        a(href="/purses") CATÁLOGO
                    li
                        a(href="/login") INICIAR SESIÓN
                    li 
                        a(href="/shopping-cart") CARRITO

block content 
    div.login-container
        div.login-title
            h1 INICIA SESIÓN 
        block message
            if(message && messageType)
                p(class=`message ${messageType}`)= message
        div.login-form
            form(action="/login", method="post")
                label(for="email") 
                input(id="email", type="text", name="email" placeholder="EMAIL")
                label(for="password") 
                input(id="password", type="password", name="password" placeholder="CONTRASEÑA")
                button(type="submit") INICIAR SESIÓN
        div.login-to-register
            a(href="/register") 
                button(type="button") REGÍSTRATE